@import 'tailwindcss';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

:root {
  /* Primitives */
  --grey-100: #ffffff;
  --grey-200: #f5f0f0;
  --grey-250: #ebe0e0;
  --grey-300: #cfc9c9;
  --grey-500: #8e8787;
  --grey-700: #3d363d;
  --grey-800: #1b1818;
  --grey-900: #000000;

  /* Semantic */
  --background: var(--grey-100);
  --foreground: var(--grey-800);
  --section-background: var(--grey-200);
  --card-background: var(--grey-250);
  --control-background: var(--grey-700);
  --accent: var(--grey-700);
  --secondary-text: var(--grey-300);

  interpolate-size: allow-keywords;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-section-background: var(--section-background);
  --color-card-background: var(--card-background);
  --color-control-background: var(--control-background);
  --color-secondary-text: var(--secondary-text);
  --color-accent: var(--accent);
}

[data-theme='light'] {
  --background: var(--grey-100);
  --foreground: var(--grey-800);
  --section-background: var(--grey-200);
  --card-background: var(--grey-250);
  --control-background: var(--grey-500);
  --accent: var(--grey-700);
  --secondary-text: var(--grey-300);
}

[data-theme='dark'] {
  --background: var(--grey-900);
  --foreground: var(--grey-100);
  --section-background: var(--grey-800);
  --card-background: var(--grey-700);
  --control-background: var(--grey-500);
  --secondary-text: var(--grey-500);
  --accent: var(--grey-300);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --breakpoint-xs: 340px;
  --breakpoint-3xl: 137.5rem;
  /* 2200px */

  --shadow-1: 0px -3px 8px -6px var(--color-foreground);
}

@utility transition-all-300 {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0.01ms;
  }
}

@utility focus-ring {
  @apply focus-visible:ring-control-background focus-visible:ring-offset-background outline-none focus-visible:ring-5 focus-visible:ring-offset-2;
}
